<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lin.thompson.workoutkings"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="TestCard"
        android:targetPackage="Deck" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lin.thompson.workoutkings.Activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.NewWorkoutActivity"
            android:label="@string/title_activity_new_workout" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.PresetWorkoutActivity"
            android:label="@string/title_activity_preset_workout" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.ToActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.Deck4ExercisesActivity"
            android:label="@string/title_activity_preset_deck_exercises" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.NewExerciseActivityewExerciseActivity"
            android:label="@string/title_activity_new_exercise" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.ChooseCardsActivity"
            android:label="@string/title_activity_choose_cards" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.MainWorkoutActivityutkings.MainWorkoutActivity"
            android:label="@string/title_activity_main_workout" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.Deck2ExercisesActivity"
            android:label="@string/title_activity_deck2_exercises" >
        </activity>
        <activity
            android:name="lin.thompson.workoutkings.Activity.WorkoutActivity"
            android:label="@string/title_activity_workout" >
        </activity>
    </application>

</manifest>
